* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  width: 100%;
  font-size: 1em;
  font-family: Arial, "Trebuchet MS", sans-serif;
  background: #dfe8df;
  color: #816969;
}

a {
  color: #816969;
  text-decoration: underline;
}
a:hover {
  color: #816969;
  text-decoration: none;
}

.cl,
.clear {
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  clear: both;
}

.shell {
  width: 100%;
  margin: 0 auto;
}
.logotea {
  float: left;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 10px;
}

h3 {
  font-family: "Trebuchet MS", Arial, Sans-Serif;
  font-size: 2em;
  color: #575957;
  padding-bottom: 5px;
}
/*
	Header
*/

#header {
  background: #d9efb8;
  height: 80px;
}

#logo {
  float: left;
  font-size: 2em;
  padding-top: 20px;
  padding-left: 200px;
}
#logo a {
  color: #657056;
  text-decoration: none;
}
#logo a span {
  display: block;
  text-align: right;
  font-size: 1em;
  font-weight: normal;
  color: #484949;
}
#header .tel {
  padding-left: 10%;
  padding-top: 1%;
  margin-right: 50px;
}
#header .socials {
  display: inline-block;
  padding-top: 20px;
  margin-right: 70px;
}

a.button {
  display: inline-block;
  background: #6c9132;
  color: #fff;
  padding: 2%;

  position: relative;
  width: 15%;
  margin: 10% 0 0 80%;

  right: 2%;

  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 1em;
  line-height: 1;
  font-weight: 100;
}

.slider {
  background-color: #c4df9b;
  height: 40%;
  width: 100%;
  padding-left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.slider #slider_image {
  background-color: #816969;
  height: 80%;
  min-width: 60%;
}

.slider button {
  width: 5%;
  height: 5%;
  margin: 5%;
  border: none;
  border-radius: 20%;
  padding: 0;
  background: none;
}

.slider button img {
  width: 100%;
  max-height: 100%;
}

.slider #left img {
  transform: rotate(180deg);
}

.slider button:hover {
  opacity: 80%;
  cursor: pointer;
}

/*
	Navigation
*/

#navigation,
#navigation .shell {
  background-color: #657056;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 1px 8px 0 52px;
  position: relative;
}
#navigation ul {
  list-style: none;
  background-color: #657056;
  padding: 0 25% 0 25%;
}
#navigation ul li {
  float: left;
  background-color: #657056;
  padding-left: 1px;
  height: 52px;
  line-height: 52px;
}
#navigation ul li a {
  float: right;
  height: 100%;
  line-height: 400%;
  padding: 1px 8px 0 52px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#navigation ul li a:hover,
#navigation ul li a.active {
  background-color: #c4df9b;
}

/*
	Main
*/
.box {
  float: left;
  width: 40%;
  padding-right: 5%;
}
#main {
  width: 100%;
  border-bottom: 1% solid #d5d7d3;
  padding: 2% 0 2% 0;
}
#main .shell {
  width: 100%;
}
#main .entry {
  height: 100%;
}
#main .box p {
  line-height: 1em;
  padding-bottom: 3%;
  text-align: justify;
}

@media (max-width 1200px) {
  .shell{
    height: 600px;
  }
  .slider{
    width: 500px;
  }
}


/* MOBILE */
@media (max-width: 425px) { 
  .shell{
    height: 200px;
  }
  .slider{
    width: 100px;
}

/* TABLET */
@media (min-width: 425px) and (max-width: 1024px){
  .shell{
    height: 300px;
  }
  .slider{
    width: 250px;
  
}

/* DESKTOP */
@media (min-width: 1024px) {
  
  .shell{
    height: 600px;
  }
  .slider{
    width: 500px;
  }
}